.innerBox{
    padding:8px;
    margin:8px;
}
.wrapBox{
    padding:8px;
    margin:8px;
}
.inline {
    display: inline;
    padding: 0 1.5em 0 0;
    font-size: 8px;
}

.imgur-full {
    max-width:100%;
    max-height:100%;
    cursor: pointer;
}
.imgur-full.if-preview {
    max-height: 250px;
}